# Bird Migrtion

### Objective:
--------------

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.25.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [39]:
import plotly.express as plx

## Data Loading:

#### Trial data:

In [2]:
df_raw_occ = pd.read_csv("/home/sunbeam/Desktop/DATASET/0031102-231002084531237/occurrence.txt", delimiter="\t")

/tmp/ipykernel_11721/2940797704.py:1: DtypeWarning: Columns (82,199) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw_occ = pd.read_csv("/home/sunbeam/Desktop/DATASET/0031102-231002084531237/occurrence.txt", delimiter="\t")

In [3]:
pd.set_option("display.max_columns",None)

In [4]:
df_raw_occ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Columns: 212 entries, gbifID to eventType
dtypes: bool(2), float64(146), int64(19), object(45)
memory usage: 1.4+ GB

---------------------
#### Deleting columns having only one single unique value and null values
------------------------

In [5]:
for col in df_raw_occ.columns:
    if df_raw_occ[col].nunique() == 1:
        del df_raw_occ[col]
        # removing columns that don't help in model buildiing
        print(col)

license
publisher
rightsHolder
type
datasetID
datasetName
basisOfRecord
individualCount
organismQuantity
organismQuantityType
occurrenceStatus
locality
kingdom
phylum
class
taxonRank
taxonomicStatus
datasetKey
publishingCountry
kingdomKey
phylumKey
classKey
protocol
lastCrawled

In [6]:
row_size,column_size = df_raw_occ.shape

In [7]:
# For null values:

for col in df_raw_occ.columns:
    if df_raw_occ[col].isna().sum() > 0.7*row_size:
        print(col,":", df_raw_occ[col].isna().sum())
        del df_raw_occ[col]

accessRights : 885595
bibliographicCitation : 885595
language : 885595
modified : 885595
references : 885595
institutionID : 885595
collectionID : 885595
institutionCode : 885595
collectionCode : 885595
ownerInstitutionCode : 885595
informationWithheld : 885595
dataGeneralizations : 885595
dynamicProperties : 885595
catalogNumber : 885595
recordNumber : 885595
recordedBy : 885595
recordedByID : 885595
sex : 885595
lifeStage : 885595
reproductiveCondition : 885595
behavior : 885595
establishmentMeans : 885595
degreeOfEstablishment : 885595
pathway : 885595
georeferenceVerificationStatus : 885595
preparations : 885595
disposition : 885595
associatedOccurrences : 885595
associatedReferences : 885595
associatedSequences : 885595
associatedTaxa : 885595
otherCatalogNumbers : 885595
occurrenceRemarks : 885595
organismName : 885595
organismScope : 885595
associatedOrganisms : 885595
previousIdentifications : 885595
organismRemarks : 885595
materialSampleID : 885595
parentEventID : 885595
fieldNumber : 885595
eventTime : 885595
startDayOfYear : 885595
endDayOfYear : 885595
verbatimEventDate : 885595
habitat : 885595
samplingProtocol : 885595
sampleSizeValue : 885595
sampleSizeUnit : 885595
samplingEffort : 885595
fieldNotes : 885595
eventRemarks : 885595
locationID : 885595
higherGeographyID : 885595
higherGeography : 885595
waterBody : 885595
islandGroup : 885595
island : 885595
stateProvince : 885595
county : 885595
municipality : 885595
verbatimLocality : 885595
verbatimElevation : 885595
verticalDatum : 885595
verbatimDepth : 885595
minimumDistanceAboveSurfaceInMeters : 885595
maximumDistanceAboveSurfaceInMeters : 885595
locationAccordingTo : 885595
locationRemarks : 885595
coordinateUncertaintyInMeters : 885595
coordinatePrecision : 885595
pointRadiusSpatialFit : 885595
verbatimCoordinateSystem : 885595
verbatimSRS : 885595
footprintWKT : 885595
footprintSRS : 885595
footprintSpatialFit : 885595
georeferencedBy : 885595
georeferencedDate : 885595
georeferenceProtocol : 885595
georeferenceSources : 885595
georeferenceRemarks : 885595
geologicalContextID : 885595
earliestEonOrLowestEonothem : 885595
latestEonOrHighestEonothem : 885595
earliestEraOrLowestErathem : 885595
latestEraOrHighestErathem : 885595
earliestPeriodOrLowestSystem : 885595
latestPeriodOrHighestSystem : 885595
earliestEpochOrLowestSeries : 885595
latestEpochOrHighestSeries : 885595
earliestAgeOrLowestStage : 885595
latestAgeOrHighestStage : 885595
lowestBiostratigraphicZone : 885595
highestBiostratigraphicZone : 885595
lithostratigraphicTerms : 885595
group : 885595
formation : 885595
member : 885595
bed : 885595
verbatimIdentification : 885595
identificationQualifier : 885595
typeStatus : 885595
identifiedBy : 885595
identifiedByID : 885595
dateIdentified : 885595
identificationReferences : 885595
identificationVerificationStatus : 885595
identificationRemarks : 885595
scientificNameID : 885595
parentNameUsageID : 885595
originalNameUsageID : 885595
nameAccordingToID : 885595
namePublishedInID : 885595
taxonConceptID : 885595
acceptedNameUsage : 885595
parentNameUsage : 885595
originalNameUsage : 885595
nameAccordingTo : 885595
namePublishedIn : 885595
namePublishedInYear : 885595
higherClassification : 885595
subfamily : 885595
subgenus : 885595
infragenericEpithet : 885595
infraspecificEpithet : 885595
cultivarEpithet : 885595
verbatimTaxonRank : 885595
vernacularName : 885595
nomenclaturalCode : 885595
nomenclaturalStatus : 885595
taxonRemarks : 885595
elevation : 885595
elevationAccuracy : 885595
depth : 885595
depthAccuracy : 885595
distanceFromCentroidInMeters : 885272
mediaType : 885595
subgenusKey : 885595
typifiedName : 885595
relativeOrganismQuantity : 885595
projectId : 885595
eventType : 885595

 -------------------
 Checking new data
-----------------------

In [8]:
df_raw_occ.head()

,gbifID,occurrenceID,organismID,eventID,eventDate,year,month,day,continent,countryCode,decimalLatitude,decimalLongitude,identificationID,taxonID,acceptedNameUsageID,scientificName,order,family,genus,genericName,specificEpithet,lastInterpreted,issue,hasCoordinate,hasGeospatialIssues,taxonKey,acceptedTaxonKey,orderKey,familyKey,genusKey,speciesKey,species,acceptedScientificName,verbatimScientificName,lastParsed,repatriated,level0Gid,level0Name,level1Gid,level1Name,level2Gid,level2Name,level3Gid,level3Name,iucnRedListCategory
0,2028713273,3123967,2.Maria,https://plutof.ut.ee/#/event/view/3537494,2007-08-07T06:00:00,2007,8,7,EUROPE,BY,52.30767,27.30983,4986308,85366,2480726,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion,Pandion,haliaetus,2023-10-17T20:02:35.641Z,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,True,False,2480726,2480726,7191147,4408414,2480725,2480726,Pandion haliaetus,"Pandion haliaetus (Linnaeus, 1758)","Pandion haliaetus (Linnaeus, 1758)",2023-10-17T20:02:35.641Z,True,BLR,Belarus,BLR.1_1,Brest,BLR.1.10_1,Luninets,NaN,NaN,LC
1,2028931999,3338562,111.Ahja5,https://plutof.ut.ee/#/event/view/3752159,2017-06-19T10:24:00,2017,6,19,EUROPE,UA,46.14460,34.26638,5201575,62543,2474950,"Grus grus (Linnaeus, 1758)",Gruiformes,Gruidae,Grus,Grus,grus,2023-10-17T20:04:02.378Z,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,True,False,2474950,2474950,1493,9313,2474940,2474950,Grus grus,"Grus grus (Linnaeus, 1758)","Grus grus (Linnaeus, 1758)",2023-10-17T20:04:02.378Z,True,UKR,Ukraine,UKR.9_1,Kherson,UKR.9.12_1,Novotro‹ts'kyi,NaN,NaN,LC
2,2028715905,3123985,2.Maria,https://plutof.ut.ee/#/event/view/3537512,2007-08-22T12:00:00,2007,8,22,EUROPE,RO,46.29900,26.57217,4986326,85366,2480726,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion,Pandion,haliaetus,2023-10-17T20:02:37.986Z,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,True,False,2480726,2480726,7191147,4408414,2480725,2480726,Pandion haliaetus,"Pandion haliaetus (Linnaeus, 1758)","Pandion haliaetus (Linnaeus, 1758)",2023-10-17T20:02:37.986Z,True,ROU,Romania,ROU.4_1,Bacău,ROU.4.80_1,Targu Ocna,NaN,NaN,LC
3,2028936907,3338580,111.Ahja5,https://plutof.ut.ee/#/event/view/3752177,2017-06-19T16:24:00,2017,6,19,EUROPE,UA,46.14753,34.23717,5201593,62543,2474950,"Grus grus (Linnaeus, 1758)",Gruiformes,Gruidae,Grus,Grus,grus,2023-10-17T20:04:02.379Z,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,True,False,2474950,2474950,1493,9313,2474940,2474950,Grus grus,"Grus grus (Linnaeus, 1758)","Grus grus (Linnaeus, 1758)",2023-10-17T20:04:02.379Z,True,UKR,Ukraine,UKR.9_1,Kherson,UKR.9.12_1,Novotro‹ts'kyi,NaN,NaN,LC
4,2028715906,3124010,2.Maria,https://plutof.ut.ee/#/event/view/3537537,2007-08-26T06:00:00,2007,8,26,AFRICA,LY,29.49767,24.46550,4986351,85366,2480726,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion,Pandion,haliaetus,2023-10-17T20:02:38.023Z,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,True,False,2480726,2480726,7191147,4408414,2480725,2480726,Pandion haliaetus,"Pandion haliaetus (Linnaeus, 1758)","Pandion haliaetus (Linnaeus, 1758)",2023-10-17T20:02:38.023Z,True,LBY,Libya,LBY.1_1,Al Butnan,NaN,NaN,NaN,NaN,LC

In [9]:
df_raw_occ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Data columns (total 45 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   gbifID                  885595 non-null  int64
 1   occurrenceID            885595 non-null  int64
 2   organismID              885595 non-null  object
 3   eventID                 885595 non-null  object
 4   eventDate               885595 non-null  object
 5   year                    885595 non-null  int64
 6   month                   885595 non-null  int64
 7   day                     885595 non-null  int64
 8   continent               849534 non-null  object
 9   countryCode             849714 non-null  object
 10  decimalLatitude         843385 non-null  float64
 11  decimalLongitude        843385 non-null  float64
 12  identificationID        885595 non-null  int64
 13  taxonID                 885595 non-null  int64
 14  acceptedNameUsageID     885595 non-null  int64
 15  scientificName          885595 non-null  object
 16  order                   885595 non-null  object
 17  family                  885595 non-null  object
 18  genus                   885595 non-null  object
 19  genericName             885595 non-null  object
 20  specificEpithet         885595 non-null  object
 21  lastInterpreted         885595 non-null  object
 22  issue                   885595 non-null  object
 23  hasCoordinate           885595 non-null  bool
 24  hasGeospatialIssues     885595 non-null  bool
 25  taxonKey                885595 non-null  int64
 26  acceptedTaxonKey        885595 non-null  int64
 27  orderKey                885595 non-null  int64
 28  familyKey               885595 non-null  int64
 29  genusKey                885595 non-null  int64
 30  speciesKey              885595 non-null  int64
 31  species                 885595 non-null  object
 32  acceptedScientificName  885595 non-null  object
 33  verbatimScientificName  885595 non-null  object
 34  lastParsed              885595 non-null  object
 35  repatriated             851240 non-null  object
 36  level0Gid               833267 non-null  object
 37  level0Name              833267 non-null  object
 38  level1Gid               833267 non-null  object
 39  level1Name              833267 non-null  object
 40  level2Gid               812053 non-null  object
 41  level2Name              812053 non-null  object
 42  level3Gid               402004 non-null  object
 43  level3Name              359057 non-null  object
 44  iucnRedListCategory     885595 non-null  object
dtypes: bool(2), float64(2), int64(14), object(27)
memory usage: 292.2+ MB

In [10]:
T_value = 0
F_value = 0
for i in range(row_size):
    if df_raw_occ["repatriated"][i]:
        T_value +=1
    elif df_raw_occ["repatriated"][i] == False:
        F_value+=1
    else:
        pass
        
        

print(T_value,F_value)

print(f"True value % = {(T_value)/(T_value+F_value)*100:0.2f}")

802047 83548
True value % = 90.57

In [11]:
df_raw_occ.head()

,gbifID,occurrenceID,organismID,eventID,eventDate,year,month,day,continent,countryCode,decimalLatitude,decimalLongitude,identificationID,taxonID,acceptedNameUsageID,scientificName,order,family,genus,genericName,specificEpithet,lastInterpreted,issue,hasCoordinate,hasGeospatialIssues,taxonKey,acceptedTaxonKey,orderKey,familyKey,genusKey,speciesKey,species,acceptedScientificName,verbatimScientificName,lastParsed,repatriated,level0Gid,level0Name,level1Gid,level1Name,level2Gid,level2Name,level3Gid,level3Name,iucnRedListCategory
0,2028713273,3123967,2.Maria,https://plutof.ut.ee/#/event/view/3537494,2007-08-07T06:00:00,2007,8,7,EUROPE,BY,52.30767,27.30983,4986308,85366,2480726,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion,Pandion,haliaetus,2023-10-17T20:02:35.641Z,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,True,False,2480726,2480726,7191147,4408414,2480725,2480726,Pandion haliaetus,"Pandion haliaetus (Linnaeus, 1758)","Pandion haliaetus (Linnaeus, 1758)",2023-10-17T20:02:35.641Z,True,BLR,Belarus,BLR.1_1,Brest,BLR.1.10_1,Luninets,NaN,NaN,LC
1,2028931999,3338562,111.Ahja5,https://plutof.ut.ee/#/event/view/3752159,2017-06-19T10:24:00,2017,6,19,EUROPE,UA,46.14460,34.26638,5201575,62543,2474950,"Grus grus (Linnaeus, 1758)",Gruiformes,Gruidae,Grus,Grus,grus,2023-10-17T20:04:02.378Z,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,True,False,2474950,2474950,1493,9313,2474940,2474950,Grus grus,"Grus grus (Linnaeus, 1758)","Grus grus (Linnaeus, 1758)",2023-10-17T20:04:02.378Z,True,UKR,Ukraine,UKR.9_1,Kherson,UKR.9.12_1,Novotro‹ts'kyi,NaN,NaN,LC
2,2028715905,3123985,2.Maria,https://plutof.ut.ee/#/event/view/3537512,2007-08-22T12:00:00,2007,8,22,EUROPE,RO,46.29900,26.57217,4986326,85366,2480726,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion,Pandion,haliaetus,2023-10-17T20:02:37.986Z,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,True,False,2480726,2480726,7191147,4408414,2480725,2480726,Pandion haliaetus,"Pandion haliaetus (Linnaeus, 1758)","Pandion haliaetus (Linnaeus, 1758)",2023-10-17T20:02:37.986Z,True,ROU,Romania,ROU.4_1,Bacău,ROU.4.80_1,Targu Ocna,NaN,NaN,LC
3,2028936907,3338580,111.Ahja5,https://plutof.ut.ee/#/event/view/3752177,2017-06-19T16:24:00,2017,6,19,EUROPE,UA,46.14753,34.23717,5201593,62543,2474950,"Grus grus (Linnaeus, 1758)",Gruiformes,Gruidae,Grus,Grus,grus,2023-10-17T20:04:02.379Z,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,True,False,2474950,2474950,1493,9313,2474940,2474950,Grus grus,"Grus grus (Linnaeus, 1758)","Grus grus (Linnaeus, 1758)",2023-10-17T20:04:02.379Z,True,UKR,Ukraine,UKR.9_1,Kherson,UKR.9.12_1,Novotro‹ts'kyi,NaN,NaN,LC
4,2028715906,3124010,2.Maria,https://plutof.ut.ee/#/event/view/3537537,2007-08-26T06:00:00,2007,8,26,AFRICA,LY,29.49767,24.46550,4986351,85366,2480726,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion,Pandion,haliaetus,2023-10-17T20:02:38.023Z,CONTINENT_DERIVED_FROM_COORDINATES;TAXON_MATCH...,True,False,2480726,2480726,7191147,4408414,2480725,2480726,Pandion haliaetus,"Pandion haliaetus (Linnaeus, 1758)","Pandion haliaetus (Linnaeus, 1758)",2023-10-17T20:02:38.023Z,True,LBY,Libya,LBY.1_1,Al Butnan,NaN,NaN,NaN,NaN,LC

In [12]:
df_raw_occ.drop(["gbifID","occurrenceID","organismID","eventID","countryCode","lastParsed","level0Gid"], inplace = True,axis = 1)

In [13]:
df_raw_occ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Data columns (total 38 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   eventDate               885595 non-null  object
 1   year                    885595 non-null  int64
 2   month                   885595 non-null  int64
 3   day                     885595 non-null  int64
 4   continent               849534 non-null  object
 5   decimalLatitude         843385 non-null  float64
 6   decimalLongitude        843385 non-null  float64
 7   identificationID        885595 non-null  int64
 8   taxonID                 885595 non-null  int64
 9   acceptedNameUsageID     885595 non-null  int64
 10  scientificName          885595 non-null  object
 11  order                   885595 non-null  object
 12  family                  885595 non-null  object
 13  genus                   885595 non-null  object
 14  genericName             885595 non-null  object
 15  specificEpithet         885595 non-null  object
 16  lastInterpreted         885595 non-null  object
 17  issue                   885595 non-null  object
 18  hasCoordinate           885595 non-null  bool
 19  hasGeospatialIssues     885595 non-null  bool
 20  taxonKey                885595 non-null  int64
 21  acceptedTaxonKey        885595 non-null  int64
 22  orderKey                885595 non-null  int64
 23  familyKey               885595 non-null  int64
 24  genusKey                885595 non-null  int64
 25  speciesKey              885595 non-null  int64
 26  species                 885595 non-null  object
 27  acceptedScientificName  885595 non-null  object
 28  verbatimScientificName  885595 non-null  object
 29  repatriated             851240 non-null  object
 30  level0Name              833267 non-null  object
 31  level1Gid               833267 non-null  object
 32  level1Name              833267 non-null  object
 33  level2Gid               812053 non-null  object
 34  level2Name              812053 non-null  object
 35  level3Gid               402004 non-null  object
 36  level3Name              359057 non-null  object
 37  iucnRedListCategory     885595 non-null  object
dtypes: bool(2), float64(2), int64(12), object(22)
memory usage: 244.9+ MB

In [14]:
list_toDrop  = ["acceptedScientificName","issue","lastInterpreted","level3Gid","level2Gid","level1Gid","hasGeospatialIssues","taxonKey","acceptedTaxonKey","orderKey","familyKey","genusKey","speciesKey","species"]

In [15]:
df_raw_occ.drop(list_toDrop,inplace=True,axis = 1)

In [16]:
df_raw_occ.info()
list_toDrop = ["taxonID"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   eventDate               885595 non-null  object
 1   year                    885595 non-null  int64
 2   month                   885595 non-null  int64
 3   day                     885595 non-null  int64
 4   continent               849534 non-null  object
 5   decimalLatitude         843385 non-null  float64
 6   decimalLongitude        843385 non-null  float64
 7   identificationID        885595 non-null  int64
 8   taxonID                 885595 non-null  int64
 9   acceptedNameUsageID     885595 non-null  int64
 10  scientificName          885595 non-null  object
 11  order                   885595 non-null  object
 12  family                  885595 non-null  object
 13  genus                   885595 non-null  object
 14  genericName             885595 non-null  object
 15  specificEpithet         885595 non-null  object
 16  hasCoordinate           885595 non-null  bool
 17  verbatimScientificName  885595 non-null  object
 18  repatriated             851240 non-null  object
 19  level0Name              833267 non-null  object
 20  level1Name              833267 non-null  object
 21  level2Name              812053 non-null  object
 22  level3Name              359057 non-null  object
 23  iucnRedListCategory     885595 non-null  object
dtypes: bool(1), float64(2), int64(6), object(15)
memory usage: 156.2+ MB

In [17]:
df_raw_occ.drop(list_toDrop,inplace=True,axis = 1)

In [18]:
df_raw_occ.head(7)

,eventDate,year,month,day,continent,decimalLatitude,decimalLongitude,identificationID,acceptedNameUsageID,scientificName,order,family,genus,genericName,specificEpithet,hasCoordinate,verbatimScientificName,repatriated,level0Name,level1Name,level2Name,level3Name,iucnRedListCategory
0,2007-08-07T06:00:00,2007,8,7,EUROPE,52.30767,27.30983,4986308,2480726,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion,Pandion,haliaetus,True,"Pandion haliaetus (Linnaeus, 1758)",True,Belarus,Brest,Luninets,NaN,LC
1,2017-06-19T10:24:00,2017,6,19,EUROPE,46.14460,34.26638,5201575,2474950,"Grus grus (Linnaeus, 1758)",Gruiformes,Gruidae,Grus,Grus,grus,True,"Grus grus (Linnaeus, 1758)",True,Ukraine,Kherson,Novotro‹ts'kyi,NaN,LC
2,2007-08-22T12:00:00,2007,8,22,EUROPE,46.29900,26.57217,4986326,2480726,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion,Pandion,haliaetus,True,"Pandion haliaetus (Linnaeus, 1758)",True,Romania,Bacău,Targu Ocna,NaN,LC
3,2017-06-19T16:24:00,2017,6,19,EUROPE,46.14753,34.23717,5201593,2474950,"Grus grus (Linnaeus, 1758)",Gruiformes,Gruidae,Grus,Grus,grus,True,"Grus grus (Linnaeus, 1758)",True,Ukraine,Kherson,Novotro‹ts'kyi,NaN,LC
4,2007-08-26T06:00:00,2007,8,26,AFRICA,29.49767,24.46550,4986351,2480726,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion,Pandion,haliaetus,True,"Pandion haliaetus (Linnaeus, 1758)",True,Libya,Al Butnan,NaN,NaN,LC
5,2017-06-19T22:44:00,2017,6,19,EUROPE,46.14125,34.24380,5201613,2474950,"Grus grus (Linnaeus, 1758)",Gruiformes,Gruidae,Grus,Grus,grus,True,"Grus grus (Linnaeus, 1758)",True,Ukraine,Kherson,Novotro‹ts'kyi,NaN,LC
6,2007-08-28T16:00:00,2007,8,28,AFRICA,18.88700,22.85383,4986370,2480726,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion,Pandion,haliaetus,True,"Pandion haliaetus (Linnaeus, 1758)",True,Chad,Ennedi Est,Ennedi Est,Ennedi Est,LC

In [19]:
list_toDrop = ["identificationID","identificationID","genericName"]

In [20]:
df_raw_occ.drop(list_toDrop,axis=1,inplace=True)

In [21]:
df_raw_occ.drop("hasCoordinate",axis = 1,inplace=True)

In [22]:
list_toDrop = ["acceptedNameUsageID","level3Name"]

In [23]:
df_raw_occ.drop(list_toDrop,axis=1,inplace=True)

In [24]:
df_raw_occ.head()

,eventDate,year,month,day,continent,decimalLatitude,decimalLongitude,scientificName,order,family,genus,specificEpithet,verbatimScientificName,repatriated,level0Name,level1Name,level2Name,iucnRedListCategory
0,2007-08-07T06:00:00,2007,8,7,EUROPE,52.30767,27.30983,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion,haliaetus,"Pandion haliaetus (Linnaeus, 1758)",True,Belarus,Brest,Luninets,LC
1,2017-06-19T10:24:00,2017,6,19,EUROPE,46.14460,34.26638,"Grus grus (Linnaeus, 1758)",Gruiformes,Gruidae,Grus,grus,"Grus grus (Linnaeus, 1758)",True,Ukraine,Kherson,Novotro‹ts'kyi,LC
2,2007-08-22T12:00:00,2007,8,22,EUROPE,46.29900,26.57217,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion,haliaetus,"Pandion haliaetus (Linnaeus, 1758)",True,Romania,Bacău,Targu Ocna,LC
3,2017-06-19T16:24:00,2017,6,19,EUROPE,46.14753,34.23717,"Grus grus (Linnaeus, 1758)",Gruiformes,Gruidae,Grus,grus,"Grus grus (Linnaeus, 1758)",True,Ukraine,Kherson,Novotro‹ts'kyi,LC
4,2007-08-26T06:00:00,2007,8,26,AFRICA,29.49767,24.46550,"Pandion haliaetus (Linnaeus, 1758)",Accipitriformes,Pandionidae,Pandion,haliaetus,"Pandion haliaetus (Linnaeus, 1758)",True,Libya,Al Butnan,NaN,LC

In [25]:
n = 0
for i in range(row_size):
    if df_raw_occ["verbatimScientificName"][i] != df_raw_occ["scientificName"][i]:
        n+=1

print(n)

79449

In [26]:
list_toDrop = ["scientificName"]

In [27]:
df_raw_occ.drop(list_toDrop,axis=1,inplace=True)

In [28]:
df_raw_occ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   eventDate               885595 non-null  object
 1   year                    885595 non-null  int64
 2   month                   885595 non-null  int64
 3   day                     885595 non-null  int64
 4   continent               849534 non-null  object
 5   decimalLatitude         843385 non-null  float64
 6   decimalLongitude        843385 non-null  float64
 7   order                   885595 non-null  object
 8   family                  885595 non-null  object
 9   genus                   885595 non-null  object
 10  specificEpithet         885595 non-null  object
 11  verbatimScientificName  885595 non-null  object
 12  repatriated             851240 non-null  object
 13  level0Name              833267 non-null  object
 14  level1Name              833267 non-null  object
 15  level2Name              812053 non-null  object
 16  iucnRedListCategory     885595 non-null  object
dtypes: float64(2), int64(3), object(12)
memory usage: 114.9+ MB

In [29]:
df_raw_occ.isna().sum()

eventDate                     0
year                          0
month                         0
day                           0
continent                 36061
decimalLatitude           42210
decimalLongitude          42210
order                         0
family                        0
genus                         0
specificEpithet               0
verbatimScientificName        0
repatriated               34355
level0Name                52328
level1Name                52328
level2Name                73542
iucnRedListCategory           0
dtype: int64

In [30]:
df_raw_occ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885595 entries, 0 to 885594
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   eventDate               885595 non-null  object
 1   year                    885595 non-null  int64
 2   month                   885595 non-null  int64
 3   day                     885595 non-null  int64
 4   continent               849534 non-null  object
 5   decimalLatitude         843385 non-null  float64
 6   decimalLongitude        843385 non-null  float64
 7   order                   885595 non-null  object
 8   family                  885595 non-null  object
 9   genus                   885595 non-null  object
 10  specificEpithet         885595 non-null  object
 11  verbatimScientificName  885595 non-null  object
 12  repatriated             851240 non-null  object
 13  level0Name              833267 non-null  object
 14  level1Name              833267 non-null  object
 15  level2Name              812053 non-null  object
 16  iucnRedListCategory     885595 non-null  object
dtypes: float64(2), int64(3), object(12)
memory usage: 114.9+ MB

In [38]:
required_columns = df_raw_occ.columns
required_columns

Index(['eventDate', 'year', 'month', 'day', 'continent', 'decimalLatitude',
       'decimalLongitude', 'order', 'family', 'genus', 'specificEpithet',
       'verbatimScientificName', 'repatriated', 'level0Name', 'level1Name',
       'level2Name'],
      dtype='object')

In [37]:
df_raw_occ.drop("iucnRedListCategory",axis = 1,inplace=True)

In [47]:
 df_raw_occ[["genus","specificEpithet"]]

          genus specificEpithet
0       Pandion       haliaetus
1          Grus            grus
2       Pandion       haliaetus
3          Grus            grus
4       Pandion       haliaetus
...         ...             ...
885590     Grus            grus
885591     Grus            grus
885592     Grus            grus
885593     Grus            grus
885594     Grus            grus

[885595 rows x 2 columns]

In [42]:
list_df = []
for i in list_birds:
    list_df.append("df_"+ i)

In [43]:
list_df

['df_Pandion haliaetus (Linnaeus, 1758)',
 'df_Grus grus (Linnaeus, 1758)',
 'df_Ciconia nigra (Linnaeus, 1758)',
 'df_Haliaeetus albicilla (Linnaeus, 1758)',
 'df_Aquila clanga Pallas, 1811',
 'df_Aquila pomarina C. L. Brehm, 1831',
 'df_Buteo buteo (Linnaeus, 1758)',
 'df_Ciconia ciconia (Linnaeus, 1758)',
 'df_Botaurus stellaris (Linnaeus, 1758)',
 'df_Aegypius monachus (Linnaeus, 1766)']

In [45]:
df_raw_occ.head()

,eventDate,year,month,day,continent,decimalLatitude,decimalLongitude,order,family,genus,specificEpithet,verbatimScientificName,repatriated,level0Name,level1Name,level2Name
0,2007-08-07T06:00:00,2007,8,7,EUROPE,52.30767,27.30983,Accipitriformes,Pandionidae,Pandion,haliaetus,"Pandion haliaetus (Linnaeus, 1758)",True,Belarus,Brest,Luninets
1,2017-06-19T10:24:00,2017,6,19,EUROPE,46.14460,34.26638,Gruiformes,Gruidae,Grus,grus,"Grus grus (Linnaeus, 1758)",True,Ukraine,Kherson,Novotro‹ts'kyi
2,2007-08-22T12:00:00,2007,8,22,EUROPE,46.29900,26.57217,Accipitriformes,Pandionidae,Pandion,haliaetus,"Pandion haliaetus (Linnaeus, 1758)",True,Romania,Bacău,Targu Ocna
3,2017-06-19T16:24:00,2017,6,19,EUROPE,46.14753,34.23717,Gruiformes,Gruidae,Grus,grus,"Grus grus (Linnaeus, 1758)",True,Ukraine,Kherson,Novotro‹ts'kyi
4,2007-08-26T06:00:00,2007,8,26,AFRICA,29.49767,24.46550,Accipitriformes,Pandionidae,Pandion,haliaetus,"Pandion haliaetus (Linnaeus, 1758)",True,Libya,Al Butnan,NaN

In [67]:
for iter_rows in range(10):
    strip = []
    temp = df_raw_occ["verbatimScientificName"][i].split()
    strip.append()

    if (df_raw_occ["genus"][i] == strip[0]) and (df_raw_occ["specificEpithet"][i] == strip[1]):
        print("Works")

KeyError: '1758)'

In [56]:
plt = df_raw_occ["verbatimScientificName"][0].split()

In [58]:
for i in plt:
    print(i)

Pandion
haliaetus
(Linnaeus,
1758)

In [90]:
count_eq = 0
for iter in range(row_size):
    i = df_raw_occ["verbatimScientificName"][iter].split()

    if i[0] == df_raw_occ["genus"][iter] and i[1] == df_raw_occ["specificEpithet"][iter]:
        count_eq+=1

In [91]:
count_eq

885595

In [92]:
df_raw_occ.drop("verbatimScientificName",axis = 1,inplace=True)

In [93]:
df_raw_occ

,eventDate,year,month,day,continent,decimalLatitude,decimalLongitude,order,family,genus,specificEpithet,repatriated,level0Name,level1Name,level2Name
0,2007-08-07T06:00:00,2007,8,7,EUROPE,52.30767,27.30983,Accipitriformes,Pandionidae,Pandion,haliaetus,True,Belarus,Brest,Luninets
1,2017-06-19T10:24:00,2017,6,19,EUROPE,46.14460,34.26638,Gruiformes,Gruidae,Grus,grus,True,Ukraine,Kherson,Novotro‹ts'kyi
2,2007-08-22T12:00:00,2007,8,22,EUROPE,46.29900,26.57217,Accipitriformes,Pandionidae,Pandion,haliaetus,True,Romania,Bacău,Targu Ocna
3,2017-06-19T16:24:00,2017,6,19,EUROPE,46.14753,34.23717,Gruiformes,Gruidae,Grus,grus,True,Ukraine,Kherson,Novotro‹ts'kyi
4,2007-08-26T06:00:00,2007,8,26,AFRICA,29.49767,24.46550,Accipitriformes,Pandionidae,Pandion,haliaetus,True,Libya,Al Butnan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885590,2017-06-18T02:25:00,2017,6,18,EUROPE,46.14459,34.24006,Gruiformes,Gruidae,Grus,grus,True,Ukraine,Kherson,Novotro‹ts'kyi
885591,2017-06-18T08:24:00,2017,6,18,EUROPE,46.15450,34.21575,Gruiformes,Gruidae,Grus,grus,True,Ukraine,Kherson,Novotro‹ts'kyi
885592,2017-06-18T17:24:00,2017,6,18,EUROPE,46.13365,34.23564,Gruiformes,Gruidae,Grus,grus,True,Ukraine,Kherson,Novotro‹ts'kyi
885593,2017-06-18T23:25:00,2017,6,18,EUROPE,46.13509,34.24431,Gruiformes,Gruidae,Grus,grus,True,Ukraine,Kherson,Novotro‹ts'kyi
885594,2017-06-19T04:24:00,2017,6,19,EUROPE,46.14879,34.23809,Gruiformes,Gruidae,Grus,grus,True,Ukraine,Kherson,Novotro‹ts'kyi